@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.mary {
  font-weight: bold;
  font-size: 40px;
}
.header {
  /* border: 2px solid red; */
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
.navbar {
  /* border: 2px solid red; */
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid; */
  gap: 50px;
  list-style: none;
  /* font-size: 14px; */
}
a {
  text-decoration: none;
  color: rgba(71, 71, 71, 1);
}
.btn {
  background-color: #fd6e0a;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
}
.banner {
  /* border: 2px solid blue; */
  margin: 0 40px 0 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-img {
  width: 520px;
  /* border: 2px solid; */
}
.banner-img img {
  width: inherit;
  vertical-align: middle;
}
.common-p {
  color: rgba(117, 117, 117, 1);
  padding: 10px 0;
  max-width: 55ch;
}
.banner-btn {
  padding: 15px 20px;
  border: 2px solid rgba(253, 110, 10, 1);
  background-color: rgba(253, 110, 10, 1);
  border-radius: 4px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.banner-btn-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  /* border: 2px solid; */
}
.about-me {
  background-color: rgb(243, 226, 214);
  width: 80%;
  border-radius: 12px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.paragraph {
  max-width: 70ch;
  text-align: center;
   color: rgba(117, 117, 117, 1);
   padding: 10px 0;
}
.about-me h3{
    font-size: 32px;
}
.info{
    display: flex;
    gap: 20px;
}
.card{
    /* border: 2px solid red; */
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 4px;
    background-color: white;
     color: rgba(117, 117, 117, 1);
}
.card h4{
    font-weight: 400;
}
.card p{
    color: black;
    font-size: 18px;
    font-weight: bold;
    color: rgb(64, 61, 61);
}

.what-i-do{
    /* border: 2px solid red; */
    margin: 40px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-card-container{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
.work-card{
    /* border: 2px solid blue; */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.742);
    padding: 20px 10px;
    border-radius: 8px;
    height: inherit;
}
.work-card h5{
    font-size: 24px;
}
.work-card img{
    width: 40px;
    border-radius: 6px;
}